
*{
    margin:0px;
    padding:0px;
    position:relative;
    
}
a{
	text-decoration:none;
}
.regbox1{
    margin-left:200px;

}
.regbox2{
     margin-left:200px;
}
.regbox2 input{
    width:350px;
    height:50px;
    background-color:#0a95fe;
    display:block;
    text-align:center;
    line-height:50px;
    color:#fff;
    font-size:30px;
    margin-top:30px;
    margin-left:80px;
    font-size:20px;
}
.regbox1 input{
    width:350px;
    height:40px;
    margin-top:30px;
    margin-left:15px;
 
}
.error{
    color:#ff0000;
    font-weight:bold;
    display:none;
    font-size:14px;
}
.regbox1 p{
    display: block;
    float: left;
    height: 42px;
    width: 65px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
    font-weight: 700;
    text-align: right;
    margin-top:30px;
   
}
.head{
    height:60px;
    margin-top:50px;
}
.modhead{
    margin-top:10px;
    margin-left:210px;
    font-weight:700;
    font-size:20px;
    color:#808080;
}
.head .modhead img{
    height:55px;
}
.sp{
    width:1000px;
    margin-left:200px;
}
.left{
    float:right;
    margin-top:25px;
    margin-right:200px;
    font-size:14px;
    font-weight:100;
}
.left a{
	font-size:20px;
}

#logininbox{
    display:none;
}
.ls input{
    width:350px;
    height:40px;
     float:left;
    border:none;
    background:none;
    height:40px;
    line-height:30px;
    text-indent:45px;
}
.ss input{
    width:354px;
    height:50px;
    background-color:#0a95fe;
    display:block;
    text-align:center;
    line-height:50px;
    color:#fff;
    font-size:30px;
}
.ls #username{
    margin-top:-5px;
    margin-left:20px;
    border:solid 2px #ccc;
    height:40px;
    width:350px;
   background:url(image/input.png) no-repeat 0 center;
}
.ls #password{
    margin-top:40px;
    margin-left:20px;
    border:solid 2px #ccc;
    height:40px;
    width:350px;
   background:url(image/pwd1.png) no-repeat 0 center;
}
.ss {
    margin-top:30px;
    margin-left:20px;
}
body{
    background:url(../image/bk1.jpg) no-repeat;
}
