<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>project</display-name>
	<servlet>
		<servlet-name>check</servlet-name>
		<display-name>check</display-name>
		<description></description>
		<servlet-class>check.check</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ckload</servlet-name>
		<display-name>ckload</display-name>
		<description></description>
		<servlet-class>check.ckload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>write</servlet-name>
		<display-name>write</display-name>
		<description></description>
		<servlet-class>check.write</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>next</servlet-name>
		<display-name>next</display-name>
		<description></description>
		<servlet-class>check.next</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>delet</servlet-name>
		<display-name>delet</display-name>
		<description></description>
		<servlet-class>check.delet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>upimg</servlet-name>
		<display-name>upimg</display-name>
		<description></description>
		<servlet-class>check.upimg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uphead</servlet-name>
		<display-name>uphead</display-name>
		<description></description>
		<servlet-class>check.uphead</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>listupimg</servlet-name>
		<display-name>listupimg</display-name>
		<description></description>
		<servlet-class>check.listupimg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleimg</servlet-name>
		<display-name>deleimg</display-name>
		<description></description>
		<servlet-class>check.deleimg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>next1</servlet-name>
		<display-name>next1</display-name>
		<description></description>
		<servlet-class>check.next1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>check</servlet-name>
		<url-pattern>/check</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ckload</servlet-name>
		<url-pattern>/ckload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>write</servlet-name>
		<url-pattern>/write</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>next</servlet-name>
		<url-pattern>/next</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>delet</servlet-name>
		<url-pattern>/delet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>upimg</servlet-name>
		<url-pattern>/upimg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uphead</servlet-name>
		<url-pattern>/uphead</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listupimg</servlet-name>
		<url-pattern>/listupimg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleimg</servlet-name>
		<url-pattern>/deleimg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>next1</servlet-name>
		<url-pattern>/next1</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
